<h1 class="mat-display-1" style="text-align: center;margin:auto;">Color Compression</h1>

<mat-card>
    <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile colspan="5" rowspan="1">
            <mat-card-title style="text-align: center;">
                What will happen to the fox?
            </mat-card-title>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="3">
            <div>
                <img src="/assets/fox.bmp">
                <h3 style="text-align: center;">Original Image</h3>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <label for="num_colors" class="mat-h3">How many colors do you want to use?</label>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="3">
            <div *ngIf="showImage;else elseBlock">
                <img src="/_/api/ColorCompression?num_colors={{numColors}}&compressImage={{compressImage}}">
                <h3 style="text-align: center;">New Image with {{numColors}} colors</h3>
            </div>
            <ng-template #elseBlock>
                <div *ngIf="spinner; else elseBlock2">
                    <mat-spinner [mode]="progressMode"></mat-spinner>
                </div>
                <ng-template #elseBlock2>
                    <div>
                        <img src="/assets/imagePlaceholder.png">
                        <h3 style="text-align: center;">New Image</h3>
                    </div>
                </ng-template>
            </ng-template>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-slider matTooltip="Move the slider to select a number from 1-15 to be the number of colors used in the new image." thumbLabel step="1" min="0" max="15" tickInterval="3" aria-label="units" name="num_colors" [(ngModel)]="numColors" (ngModelChange)="resetShowImage($event)">
            </mat-slider>
            <p matBadge="?" matBadgeSize="small"></p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <button mat-raised-button color="primary" (click)="viewImage()" [(ngModel)]="compressImage" name="/client/src/assets/fox.bmp">COMPRESS IMAGE</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>

<mat-card>
    <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile colspan="5" rowspan="1">
            <mat-card-title style="text-align: center;">
                Now try your own image!
            </mat-card-title>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="3">
            <div>
                <img id="uploadedFile">
                <input type="file" name="file" (change)='uploadImage($event)'>
                <h3 style="text-align: center;">Original Image</h3>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p for="num_colors" class="mat-h3">How many colors do you want to use?</p>
        </mat-grid-tile>
        <mat-divider></mat-divider>
        <mat-grid-tile colspan="2" rowspan="3">
            <div *ngIf="showImage2;else elseBlock">
                <img id="compressedImage">
                <h3 style="text-align: center;">New Image with {{numColors2}} colors</h3>
            </div>
            <ng-template #elseBlock>
                <div *ngIf="spinner; else elseBlock2">
                    <mat-spinner [mode]="progressMode"></mat-spinner>
                </div>
                <ng-template #elseBlock2>
                    <div>
                        <img src="/assets/imagePlaceholder.png">
                        <h3 style="text-align: center;">New Image</h3>
                    </div>
                </ng-template>
            </ng-template>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <mat-slider matTooltip="Move the slider to select a number from 1-15 to be the number of colors used in the new image." thumbLabel step="1" min="0" max="15" tickInterval="3" aria-label="units" name="num_colors" [(ngModel)]="numColors2" (ngModelChange)="resetShowImage2($event)">
            </mat-slider>
            <p matBadge="?" matBadgeSize="small"></p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <button mat-raised-button color="primary" (click)="viewImage2()">COMPRESS IMAGE</button>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-divider></mat-divider>
<mat-card style="text-align: center;">
    <mat-card-header style="display: inline-block;">
        <mat-card-title>ANALYSIS</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin: auto 10%;font-size: 18px;text-align: left;">
        <p>
            The color compression above is performed using k means clustering. This means that the pixels are grouped into k color (RGB) clusters based on the pixels distance from the cluster center.
        </p>
        <p>
            You get to select the k value for the number of clusters that will be used. The initial k cluster centers are randomly selected pixels in the image. Then, the iterative loop begins. Each pixel is added to a color cluster based on which cluster center
            it is closest to. Once all th pixels are grouped, the new cluster centers are cacluated. This will continue until the cluster centers are no longer changing. Essentially, the pixels are not changing clusters anymore.
        </p>
        <p>
            Finally, all the pixels are assigned the RGB value from its cluster center, the image is reshaped, and you now get an image with k colors.
        </p>
    </mat-card-content>
</mat-card>