<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
    <h1>
        Welcome to Faces!
    </h1>
    <h2>Below we will be doing some face detection...</h2>
    <div style="text-align: center">
        <h1>
            Choose an image to test:
        </h1>
        <div *ngFor="let image of ImagePath;">
            <div style="width:50%;float:left;">
                <div style="text-align:center">
                    <h2>Subject {{image.id}}</h2>
                </div>
                <img [src]="image.path" style="width: 60%;border:3px solid;margin: 2px" (click)="get_value(image.path)">
            </div>
        </div>
    </div>