<div class="img-cover">
    <div class="centered">
        <div style="background-color: white;padding: 20px;color: black;border-radius:25px;">
            Hi! My name is Jessica Manzione. Check out my website to find examples of projects I have completed using various machine learning techniques, data analytics tools, and web app development.</div>
    </div>
</div>
<app-projects></app-projects>
<!--<button class="mat-raised-button btn" (click)="goToColorCompression()">CLICK HERE TO SEE MORE</button>-->