<div class="centered">
    Hi! My name is Jessica Manzione. Check out my website to find examples of projects I have completed using various machine learning techniques, data analytics tools, and web app development.
</div>
<a class="ca3-scroll-down-arrow ca3-scroll-down-link" (click)="scroll(section02)"></a>

<div #section02 style="scroll-margin-top: 100px">
    <app-projects></app-projects>
</div>


<!--<button class="mat-raised-button btn" (click)="goToColorCompression()">CLICK HERE TO SEE MORE</button>-->