<div class="row">

    <div class="right">

        <mat-card class="img-cover-resume">
            <h1 class="resume-header">About Me</h1>
            <mat-card-content class="text">
                <mat-card style="margin-bottom: 10px;">
                    <mat-card-header>
                        <mat-card-title>Previous Work Experience</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <h3><strong>Abrigo (formerly Sageworks) | Web-based financial software company | Raleigh, NC</strong></h3>
                        <div style="margin-left:10px">
                            <p><strong>Principal Product Manager | Part-time (Remote) | December 2020 - Present</strong></p>
                            <p>
                                Lead transformation from single tenant to multi-tenant application deployment
                            </p>
                            <ul>
                                <li>Managed 3 teams of 3-5 engineers and 1 QA plus additional members from devops, infrastructure, and DBAs to make sure all requirements met on time, mitigate any challenges, and facilitate communication</li>
                            </ul>
                            <p>
                                <strong>Manager of Product Management | December 2018 – December 2020</strong>
                            </p>
                            <p>
                                Responsible for the performance of two product teams, Credit Team and Cross Product Team, totaling 20 people and encompass approximately half of the our Credit and Lending space. Responsible for the customer satisfaction, improvements, and maintenance
                                of approximately 40% of our 20+ products including our highest revenue generating products. Key accomplishments and activities include:
                            </p>
                            <ul>
                                <li>Directly manage 5 product managers as well as lead two teams of product managers, developers, and QA</li>
                                <ul>
                                    <li>Continue to manage Credit Team which develops and maintains 9 financial software products, including the highest revenue generating product to grow and maintain customers.
                                    </li>
                                    <li>Successfully started and now lead Cross Product Team due to need to improve the communication and compatibility throughout all products. Team consists of 1 product manager, 4 developers, and 1 QA.</li>
                                </ul>
                                <li>Define product roadmap and oversee development of features which directly contributed to the 40% company revenue growth rate.</li>
                                <li>Assist sister company, Banker’s Toolbox, to lead parts of initiative to become SaaS enabled</li>
                                <ul>
                                    <li>Conducted various projects with multiple teams to take on premise applications written in VB6 to transform them to be SaaS</li>
                                    <li>Improved efficiency of installation process with 60% reduction in time to upgrade and install and 50% reduction in size of installation package</li>
                                </ul>
                            </ul>
                            <p><strong>Senior Product Manager, Team Lead | June 2017-December 2018</strong></p>

                            <p>
                                Successfully started and lead the Credit Team after 10 months at the company. Started with 3 PMs and 3 devs and grew it to a goal oriented and organized team of 16 people (6 PMs, 8 Devs and 2QA). Team is responsible for developing and maintaining 9 financial
                                software products, including the highest revenue generating product.Activities Included:
                            </p>
                            <ul>
                                <li>Managing the quality assurance of existing products and new features within the team. Decreased customer reported issues by an average of 60%.</li>
                                <li>Consulting escalated customers and potential non-renewals. Work directly with client success managers, sales, and support. Lead the “How to talk to customers” training program.</li>
                                <li>Mentoring and training product managers to own and improve products as well as to develop leadership skills.</li>
                                <ul>
                                    <li>Trained and empowered replacement team lead starting as a new hire to a successful team lead</li>
                                    <li>Successfully trained and mentored seven new hires to become skilled product managers</li>
                                </ul>
                                <li>Mitigate Ad Hoc issues for customers, team members, or development projects.</li>
                                <li>Define product roadmap and prioritized backlog that follow team and company strategy.</li>
                                <ul>
                                    <li>Design product specifications: Conduct market and customer research leveraging customer interviews and focus groups, peer review, and consultant feedback to determine customer needs and usability.</li>
                                    <li>Create user stories for product enhancements to facilitate development.</li>
                                    <li>Develop go-to-market strategy: Communicate improvements to existing customers prior to every sprint release, hold webinars reviewing features as needed, provide collateral, and facilitate User Acceptance Testing (UAT).
                                        Work closely with developers to oversee implementation, make architectural design decisions, and test changes</li>
                                </ul>
                            </ul>

                            <p><strong>Product Manager | Aug 2016 - May 2017</strong></p>

                            <p>
                                Transformed Risk Rating software from a freeware to revenue generating product within the first 6 months of joining the company. Increased the daily active users (DAU) of the risk rating software by 15% within 3 months of release with outstanding customer
                                feedback. Designed the entire Risk Rating product through focus groups, working with the cofounder, designing specs, managing implementation with developers, database designs, testing, and planning marketing strategies
                            </p>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card style="margin-bottom: 10px;">
                    <mat-card-header>
                        <mat-card-title>Education</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>
                            M.S. in Analytics | Georgia Institute of Technology | Concentration: Computational Analysis with focus on Machine Learning | Expected December 2022
                        </p>
                        <p>
                            B.S. Finance & B.S. Accounting | Univ. of Maryland, Robert H. Smith School of Business, College Park | May 2016 Graduated
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Skills</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>
                            Programming Languages: Python, SQL, HTML, CSS, JavaScript, R, Machine Learning (scikit-learn, Tensorflow)
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>


    <!--
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Projects
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
-->
    <!--
    <div class="left">
        <img style="width:100%;" src="/assets/Ash-climb rocks.jpg">
    </div>
    -->
</div>